IDE's files -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# sublimetext
/*.sublime-project
*.sublime-workspace


# -- NodeJS files ----------------------------

/node_modules/

# -- OS's files ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.travis.yml
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes